.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 500px;
  height: auto;
  margin: 0 auto 15px;
  border-radius: 6px;

  &__header {
    padding: 15px;
    display: flex;
    align-items: center;

    &__title-section {
      display: flex;
      flex-direction: column;
    }

    &__media {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin-right: 20px;
    }

    &__title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    &__subtitle {
      font-size: 16px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding: 15px;

    &__media {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }

    &__text {
      font-size: 16px;
    }
  }
}
