.skeleton {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative;

  &__header {
    padding: 15px;
    display: flex;
    align-items: center;

    &__media {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: lightgrey;
      flex-shrink: 0;
      margin-right: 20px;
    }

    &__title-section {
      display: flex;
      flex-direction: column;
      width: 100%;
      flex-grow: 1;
    }

    &__title {
      height: 20px;
      width: 60%;
      background: lightgrey;
      border-radius: 1px;
      margin-bottom: 5px;
    }

    &__subtitle {
      height: 14px;
      width: 80%;
      background: lightgrey;
      border-radius: 1px;
    }
  }

  &__body {
    padding: 15px;
    display: flex;
    flex-direction: column;

    &__media {
      height: auto;
      min-height: 100px;
      width: 50%;
      background: lightgrey;
      border-radius: 1px;
      margin-bottom: 10px;
    }

    &__paragraph-text {
      height: 14px;
      width: 100%;
      background: lightgrey;
      margin-bottom: 5px;

      &--half {
        width: 50%;
      }
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: linear-gradient(
      90deg,
      rgba(white, 0) 0,
      rgba(white, .6) 50%,
      rgba(white, 0) 100%
    );
    background-size: 40% 100%;
    background-repeat: no-repeat;
    background-position: -150% 0;
    animation: loading 1s infinite;
  }
}

@keyframes loading {
  to {
    background-position: 150% 0;
  }
}
